*{
    padding:0;
    margin: 0;
}
.container{
    display: grid;
    grid-template-areas: 
        "header header header"
        "links chatBox words"
        "links chatBox words"
}
.header{
    text-align: center;
    grid-area: header;
    margin: 20px;
}
.links{
    text-align: center;
    grid-area: links;
}
.chatBox{
    grid-area: chatBox;
    border: black 4px solid;
    border-radius: 10px;
    display: flex;

    flex-direction: column;
    justify-content: space-between;

    min-height: 400px;
    max-width: 500px;
}
.chats{
    display: flex;
    flex-direction: column;
}
.userMessage{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    max-width: 50%;
    align-self: flex-start;
    background-color: lightskyblue;
    color: white;
}
.botMessage{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    max-width: 50%;
    align-self: flex-end;
    background-color: gray;
    color: white;
}
.textMessage{
    min-width: 90%;
    text-align: center;

    margin-bottom: 5px;
}
.textInput{
    min-width: 90%;
    min-height: 60px;
    resize: none;
}
.words{
    text-align: center;
    grid-area: words;
}