<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Chinese Chatbot</h1>
        </div>
        <div class="links">
            <h1>links</h1>
        </div>
        <div class="chatBox">
            <div class="chats">
                <p class="userMessage">Example User Text</p>
                <p class="botMessage">Example Bot Text</p>
            </div>
            <div class="textMessage">
                <textarea name="" class="textInput"></textarea> 
            </div>
        </div>
        <div class="words">
            <h1>words</h1>
        </div>
    </div>
</body>
</html>